# main modules
pyTelegramBotAPI==4.35.0
python-dotenv
apscheduler
jdatetime

# database modules
sqlalchemy
alembic
psycopg2[binary]
pydantic-settings

# API Platform
groq

# calendar
google-auth 
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
fastapi[standard]